# Ignore all Excel files
*.xlsx

# Ignore all CSV files
*.csv

# Ignore JPG files
*.jpg

# Ignore GPKG files
*.gpkg

# Ignore the Connecticut folder and its contents
Connecticut/

# Ignore the cb_2023_us_all_500k.gdb folder and its contents
cb_2023_us_all_500k.gdb/
